.title {
    text-align: center;
    color:white;
    font-family: "Audiowide", sans-serif;
}

.menulink {
    color: white;
    margin:auto;
}

.col-sm-12 {
    margin: auto
}

#background {
    background-color: rgb(40, 6, 50)
}

.test-image {
    text-align: center;
}

.info {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    /* Just to get some separation between the keyboard and the guess counter */
}

ul li {
    color: white;
    margin-bottom: 30px;
}
         
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

#share {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

#rule-text{
    background-color: rgb(40, 6, 50);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#share-text{
    background-color: rgb(40, 6, 50);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.collapsible {
    background-color: rgb(59, 9, 75);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(73, 12, 94);
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .guess {
      padding: 10px 5px;
      margin: auto;
      text-align: left;
  }
         



#keyboard {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
   
  }
  
  
  .keyboardKey{
    font-weight: bold;
    margin: 0 3px 0 3px;
    width: 10%;
    height: 58px;
    cursor: pointer;
    flex: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
  }
  
  .longerKeyboardKey{
    font-weight: bold;
    margin: 0 3px 0 3px;
    height: 58px;
    cursor: pointer;
    flex: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
  }
  
  .row{
    display: inline-flex;
    height: 33%;
    width: 100%;
    padding: 3px;
  }

  /* Adding a fade effect to any elements we want through this class name */

  .fade-in {
    animation: fadeIn ease 0.1s;
    -webkit-animation: fadeIn ease 0.1s;
    -moz-animation: fadeIn ease 0.1s;
    -o-animation: fadeIn ease 0.1s;
    -ms-animation: fadeIn ease 0.1s;

  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }

}

/* Adding a fade out effect for the rules and share button mainly. */

.fade-out {
  animation: fadeOut ease 0.1s;
  -webkit-animation: fadeOut ease 0.1s;
  -moz-animation: fadeOut ease 0.1s;
  -o-animation: fadeOut ease 0.1s;
  -ms-animation: fadeOut ease 0.1s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}

}