.title {
    text-align: center;
    color:white;
    font-family: "Audiowide", sans-serif;
}

.menulink {
    color: white;
    margin:auto;
}

.col-sm-12 {
    margin: auto
}

#background {
    background-color: rgb(40, 6, 50)
}

.test-image {
    text-align: center;
}

.info {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    /* Just to get some separation between the keyboard and the guess counter */
}

ul li {
    color: white;
    margin-bottom: 30px;
}

