html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%;}

#nav {
  position: static;
  z-index: 9999;
}

#myNavbar{
  background-color: rgb(39, 39, 39);
  border-radius: 10px;
  position: static;
  z-index: 300;
}

#dropdown-list {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  border-radius: 10px;
  position: static;
  z-index: 200;
}

.list-item {
  background-color: rgb(39, 39, 39);
  z-index: 500;
  border-radius: 10px;
  position: static;
  z-index: 100;
}

.main-title {
  text-align: center;
  color:white;
  font-family: "Audiowide", sans-serif;
  z-index: 1;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  color:white;
  font-family: "Audiowide", sans-serif;
  z-index: 1;
  padding: 0px;
}

.subtitle {
  text-align: center;
  color:white;
  font-family: "Smooch", sans-serif;
  size: 20px;
}


.menulink {
  color: white;
  margin:auto;
}

.col-sm-12 {
  margin: auto
}

.base-theme {
  background-color: rgb(34, 34, 34);
  width: 100%;
  height: 100%;
}

.light-theme {
  background-color: rgb(220, 220, 220);
  width: 100%;
  height: 100%;
}

.maaz-theme {
  background-image: url(hello.jpg);
  opacity: 0.95;
  width: 100%;
  height: 100%;
}

.cameron-theme {
  /* background: rgb(238,0,255); */
  background: linear-gradient(47deg, rgba(238,0,255,1) 0%, rgba(126,0,255,1) 100%); 
  width: 100%;
  height: 100%;
}

.test-image {
  display:flex;
  justify-content: space-around;
  width: max-content;
  height:max-content;
  margin: auto;
  z-index: 1;
}

.info {
  color: white;
  text-align: center;
  margin-bottom: 40px;
  /* Just to get some separation between the keyboard and the guess counter */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(39,39,39);
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 0px 0px;
}

li a {
  display: block;
  color: rgb(150, 150, 150);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

.col-sm-4 {
  position: static;
  z-index: 1;
}
       
#overlay, #share, #thanks, #outcome, #themes, #stats, #leaderboard  {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5000;
}

/* Design of the text in the in-game overlay. */
#overlay-text.base, 
#share-text.base, 
#thanks-text.base, 
#outcome-text.base, 
#themes-text.base, 
#stats-text.base, 
#leaderboard-text.base{
  background-color: rgb(39, 39, 39);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 10px;
  border: 2px solid rgb(89, 89, 89);
}

#overlay-text.light, 
#share-text.light, 
#thanks-text.light, 
#outcome-text.light, 
#themes-text.light, 
#stats-text.light, 
#leaderboard-text.light{
  background-color: rgb(200, 200, 200);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: rgb(39, 39, 39);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 10px;
  border: 2px solid rgb(39, 39, 39);
  display: grid
}

#overlay-text.maaz, 
#share-text.maaz, 
#thanks-text.maaz, 
#outcome-text.maaz, 
#themes-text.maaz, 
#stats-text.maaz, 
#leaderboard-text.maaz{
  background-color: rgb(164, 233, 186);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 10px;
  border: 2px solid rgb(1, 130, 40);
  display: grid
}

#overlay-text.cameron, 
#share-text.cameron, 
#thanks-text.cameron, 
#outcome-text.cameron, 
#themes-text.cameron, 
#stats-text.cameron, 
#leaderboard-text.cameron{
  background: rgb(241, 187, 246);
  background: linear-gradient(243deg, rgba(250,173,255,1) 0%, rgba(211,168,255,1) 100%);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 10px;
  border: 2px solid rgb(141, 13, 180);
  display: grid
}

.collapsible {
  background-color: rgb(50, 50, 50, 0.4);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /* border: 2px solid black; */
  border-radius: 10px;
  
}

.active, .collapsible:hover {
  background-color: rgba(24, 12, 94, 0.441);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.guess {
    padding: 10px 5px;
    margin: auto;
    text-align: left;
}

.navbar.navbar-inverse{
  height: 40px;

}

#guesstxt
{ 
  background-image: url(./text.gif);
    color: #ffffff;
    
    width: 173px;
    height: 56px;
    background-size: contain;
    opacity: 1;
    border: rgba(0,0,0,0.5);
    border-radius: 5px;
    background-repeat: no-repeat;
    padding: 5px;
    box-shadow: inset 0 0 0 2px black;
/*-webkit-background-clip: content-box;
   -moz-background-clip: content-box;
    background-clip: content-box;*/


}
.guesstext:hover {
  box-shadow: inset 0 0 0 2px red;
}


#keyboard {
  width: 100%;
  position: relative;
  text-align: center;
  min-height: 100px;
  min-width: 300px;
 
}


.keyboardKey{
  background-size: contain;
  opacity: 0.95;
  font-weight:bold;
  font-size:medium;
  display: flex;
  margin: 0 3px 0 3px;;
  width: 12%;
  max-width: 80px;
  height: 58px;
  cursor: pointer;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-color:black;
  border-radius: 20px;
}

.longerKeyboardKey{
  border-color:black;

  font-weight: bold;
  max-width: 120px;
  display: flex;
  width:20%;
  margin: 0 3px 0 3px;
  height: 58px;
  cursor: pointer;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 50% 20% / 10% 40%;;
}

.row{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3px;
  
  font-size: 1rem;
  
}

/* Adding a fade effect to any elements we want through this class name */

.fade-in {
  animation: fadeIn ease 0.1s;
  -webkit-animation: fadeIn ease 0.1s;
  -moz-animation: fadeIn ease 0.1s;
  -o-animation: fadeIn ease 0.1s;
  -ms-animation: fadeIn ease 0.1s;

}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

}

#guesses {
  
display: block;
text-align: center;
margin: 20px
}

#submit-guesses {
display: inline-block;
margin: auto;
text-align: left;
}

.press-button {
background-color: rgb(100, 100, 100);
border-radius: 8px;
border-width: 0;
color: #ffffff;
cursor: pointer;
display: flex;
font-family: "Odibee Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 20px;
list-style: none;
margin: auto;
padding: 10px 13px;
text-align: center;
transition: all 100ms;
vertical-align: baseline;
white-space: nowrap;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;

}

#error-div {
  display: inline block;
  visibility: hidden;
  margin: auto;
  color: white;
  background-color: rgb(180, 18, 18);
  border-radius: 10px;
  size: 12px;
  text-align: center;
}

.info-text-base {
  border-radius: 10px;
  background-color: rgb(41, 41, 41);
  color: white;
  padding:10px;
  margin:10px;
  text-align:center;
}

.info-text-light {
  border-radius: 10px;
  background-color: rgb(220, 220, 220);
  color: rgb(39, 39, 39);
  padding:10px;
  margin:10px;
  text-align:center;
}

.info-text-maaz {
  border-radius: 10px;
  background-color: rgb(69, 243, 95);
  color: white;
  padding:10px;
  margin:10px;
  text-align:center;
}

.info-text-cameron {
  border-radius: 10px;
  background: rgb(207,19,255);
  background: linear-gradient(45deg, rgba(207,19,255,1) 0%, rgba(239,30,255,1) 100%);
  color: white;
  padding:10px;
  margin:10px;
  text-align:center;
}

p {
  font-family: 'Odibee Sans', cursive;
  font-size:20px;
  text-align: center;
}

#guess-content {
  border-radius: 10px;
  opacity: 0.75;
}

.navbar-collapse.collapse {
  display: block!important;
  }
  
.navbar-nav>li, .navbar-nav {
display: inline-block !important;
}
  


@media (min-width: 567px) {
  .abs-center-x {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
  }
}




