  html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;}
  
  #nav {
    position: static;
    z-index: 9999;
  }
  
  #myNavbar{
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    position: static;
    z-index: 300;
  }
  
  #dropdown-list {
    background-color: rgb(39, 39, 39);
    padding: 10px;
    border-radius: 10px;
    position: static;
    z-index: 200;
  }
  
  .list-item {
    background-color: rgb(39, 39, 39);
    z-index: 500;
    border-radius: 10px;
    position: static;
    z-index: 100;
  }
  
  .main-title {
    text-align: center;
    color:white;
    font-family: "Audiowide", sans-serif;
    z-index: 1;
    padding: 0px 0px 30px 0px;
  }
  
  .title {
    text-align: center;
    color:white;
    font-family: "Audiowide", sans-serif;
    z-index: 1;
    padding: 0px;
  }
  
  .subtitle {
    text-align: center;
    color:white;
    font-family: "Smooch", sans-serif;
    size: 20px;
  }
  
  
  .menulink {
    color: white;
    margin:auto;
  }
  
  .col-sm-12 {
    margin: auto
  }
  
  .base-theme {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 100%;
  }
  
  .light-theme {
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 100%;
  }
  
  .maaz-theme {
    background-image: url(hello.jpg);
    opacity: 0.95;
    width: 100%;
    height: 100%;
  }
  
  .cameron-theme {
    /* background: rgb(238,0,255); */
    background: linear-gradient(47deg, rgba(238,0,255,1) 0%, rgba(126,0,255,1) 100%); 
    width: 100%;
    height: 100%;
  }
  
  .test-image {
    display:flex;
    justify-content: space-around;
    width: max-content;
    height:max-content;
    margin: auto;
    z-index: 1;
  }
  
  .info {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    /* Just to get some separation between the keyboard and the guess counter */
  }
  
  ul li {
    color: white;
  }
  
  .col-sm-4 {
    position: static;
    z-index: 1;
  }
         
  #overlay, #share, #thanks, #outcome, #themes, #stats, #leaderboard  {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 5000;
  }
  
  /* Design of the text in the in-game overlay. */
  #overlay-text.base, 
  #share-text.base, 
  #thanks-text.base, 
  #outcome-text.base, 
  #themes-text.base, 
  #stats-text.base, 
  #leaderboard-text.base{
    background-color: rgb(39, 39, 39);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid rgb(89, 89, 89);
  }
  
  #overlay-text.light, 
  #share-text.light, 
  #thanks-text.light, 
  #outcome-text.light, 
  #themes-text.light, 
  #stats-text.light, 
  #leaderboard-text.light{
    background-color: rgb(200, 200, 200);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: rgb(39, 39, 39);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid rgb(39, 39, 39);
    display: grid
  }
  
  #overlay-text.maaz, 
  #share-text.maaz, 
  #thanks-text.maaz, 
  #outcome-text.maaz, 
  #themes-text.maaz, 
  #stats-text.maaz, 
  #leaderboard-text.maaz{
    background-color: rgb(164, 233, 186);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid rgb(1, 130, 40);
    display: grid
  }
  
  #overlay-text.cameron, 
  #share-text.cameron, 
  #thanks-text.cameron, 
  #outcome-text.cameron, 
  #themes-text.cameron, 
  #stats-text.cameron, 
  #leaderboard-text.cameron{
    background-color: rgb(40, 6, 50);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid rgb(141, 13, 180);
    display: grid
  }
  
  /* Adding a fade effect to any elements we want through this class name */
  
  .fade-in {
    animation: fadeIn ease 0.1s;
    -webkit-animation: fadeIn ease 0.1s;
    -moz-animation: fadeIn ease 0.1s;
    -o-animation: fadeIn ease 0.1s;
    -ms-animation: fadeIn ease 0.1s;
  
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  
  }
  
  .press-button {
  background-color: rgb(100,100,100);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Odibee Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: auto;
  padding: 10px 13px;
  text-align: center;
  transition: all 100ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  }
  
  #error-div {
    display: inline block;
    visibility: hidden;
    margin: auto;
    color: white;
    background-color: rgb(180, 18, 18);
    border-radius: 10px;
    size: 12px;
    text-align: center;
  }
  
  .info-text-base {
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
    padding:10px;
    margin:10px;
    text-align:center
  }
  
  .info-text-light {
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    color: rgb(39, 39, 39);
    padding:10px;
    margin:10px;
    text-align:center
  }
  
  .info-text-maaz {
    border-radius: 10px;
    background-color: rgb(69, 243, 95);
    color: white;
    padding:10px;
    margin:10px;
    text-align:center
  }
  
  .info-text-cameron {
    border-radius: 10px;
    background-color: rgb(164, 0, 164);
    color: white;
    padding:10px;
    margin:10px;
    text-align:center
  }
  
  p {
    font-family: 'Odibee Sans', cursive;
    font-size:20px;
    text-align: center;
  }

  .login-page {
    width: 400px;
    padding: 10% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    opacity: 0.98;
  }

  .form input {
    font-family: "Odibee Sans", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }

  .form button {
    font-family: "Odibee Sans", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3f3f3f;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
  }

  .form button:hover,.form button:active,.form button:focus {
    background: #767676;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
  }

  .form .message a {
    color: #393939;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #EF3B3A;
  }

  
  