<!-- Setting up the basic look of the page - including menu, sidebar, location for keyboard, etc -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap elements -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS for Current page -->
    <!-- <link rel = 'stylesheet' href = "{{ url_for('static',filename='styles/base.css' ) }}"> -->
    <link rel = 'stylesheet' href = "{{ url_for('static',filename='styles/base.css' ) }}">
    <link rel = 'stylesheet' href = "{{ url_for('static',filename='styles/login.css' ) }}">

    <!-- Access to Google Fonts - used for the title -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet"> 

    <!-- Function to display rules when clicking the settings button -->
    <!-- <script src = "{{url_for('static',filename = 'js/base.js')}}" ></script> -->
    <script src = "{{url_for('static',filename = 'js/login.js')}}" ></script>
    
    <title>Pixel Perfect</title>

</head>
<body id = 'background' class = 'base-theme'>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li onclick = 'onShare()'><a href="#"><span class="glyphicon glyphicon-share"></span> Share</a></li>
              <li onclick = 'onRules()'><a><span class="glyphicon glyphicon-question-sign"></span> Rules</a></li>
              <li onclick = 'onThanks()'><a href="#"><span class="glyphicon glyphicon-heart"></span> Thanks!</a></li>
              <li onclick = 'onThemes()'><a href="#"><span class="glyphicon glyphicon-pencil"></span> Themes</a></li>
            </ul>
            <ul class = 'nav navbar-nav pull-right'>
                <li class = 'nav navbar-nav pull-right'><a href="index.html"><span class="glyphicon glyphicon-camera"></span> Play Game</a></li>
            </ul>
            
          </div>
        </div>
      </nav> 
    
    <!-- Information Div - Where the rules of the game will be explained. -->
    <div id = 'overlay' class = 'overlay-div'>
      <div id = 'overlay-text'>
        <h1 class = 'title' style = 'margin: auto;'>Rules</h1>
        <br>
        <p>You have 5 attempts to guess the content of the photo.</p>
        <p>For every wrong guess you make, the photo will become less blurry!</p>
        <p>This game was made for CITS3401 project 1.</p>
        <p>Click anywhere to return to the main page.</p>
      </div>
    </div>

    <!-- Share div -->
    <div id = 'share'>
        <div id = 'share-text'>
          <h1 class = 'title' style = 'margin: auto;'>Share</h1>
          <br>
          <p>Thank you for playing our game!</p>
          <p>To share your score, press enter in the input field (or submit on the keyboard).</p>
          <p>To share the website, click the button below.</p>
          <p></p>
          <p><button id="share-site" class = 'press-button'>Share</button></p>
        </div>
      </div>

    <!-- Thanks div - explain the context behind the game blah blah -->
    <div id = 'thanks' class = 'overlay-div'>
      <div id = 'thanks-text'>
        <h1 class = 'title' style = 'margin: auto;'>Thank you!</h1>
        <br>
        <p>Thank you for playing our game!</p>
        <p>This game was made for CITS3403 Project 1</p>
        <p>Please enjoy playing the game.</p>
        <p>We appreciate any constructive feedback you may have.</p>
      </div>
    </div>

    <!-- Thanks div - explain the context behind the game blah blah -->
    <div id = 'themes' class = 'overlay-div'>
      <div id = 'themes-text'>
        <h1 class = 'title' style = 'margin: auto;'>Themes</h1>
        <br>
        <p>Select from a couple of themes!</p>
        <p>Made by different members of the team.</p>
        <p><button id = 'base-theme' class = 'press-button'>Base Theme</button></p>
        <p><button id = 'maaz-theme' class = 'press-button'>Maaz Theme</button></p>
        <p><button id = 'cameron-theme' class = 'press-button'>Cameron Theme</button></p>
      </div>
    </div>

    <!-- Title div -->
    <div class = 'container-fluid'>
        <!-- Title -->
        <h2 class = 'subtitle'>Guess the daily picture in...</h2>
        <h1 class = 'title' style = 'background-color: rgba(40, 6, 50, 0);'>Pixel Perfect</h1>
    </div> 


    <!-- Content goes here -->
    <div class = 'container-fluid'>
        <!-- Include all information in this div - middle div makes it easier to port to mobile -->
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" placeholder="name"/>
                    <input type="password" placeholder="password"/>
                    <input type="text" placeholder="email address"/>
                    <button>create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>
                    <form class="login-form">
                    <input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>